.report-title-container {
    background: $bgHeaderTableLevel1;
    padding: 4px 15px;
    color: $white;
    font-size: 12px;

    .report-title {
        margin: 0;
    }
}

.no-info-row {
    border: 1px solid #ccc;
    padding: 5px;
    background: $white;
}