.loading-process {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: $indexLoader;

    .icon-loading {
        position: absolute;
        top: 50%;
        right: calc(50% - 28px);
    }

    &.default{
        background: rgba(255, 255, 255, 0.7) no-repeat;
    }
}

@-webkit-keyframes ball-beat {
    50% {
        opacity: 0.2;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ball-beat {
    50% {
        opacity: 0.2;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.ball-beat {
    > div {
        background-color: #4C6375;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin: 2px;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: inline-block;
        -webkit-animation: ball-beat 1s 0s infinite linear;
        animation: ball-beat 1s 0s infinite linear;
    }

    &.loader-white {
        > div {
            background-color: #fff;
        }
    }
}

.ball-beat > div:nth-child(2n-1) {
    -webkit-animation-delay: -0.5s !important;
    animation-delay: -0.5s !important;
}