.caret-block {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    bottom: 10px;
    right: 10px;
}

.icon-excel {
    background: url(../../images/excel-icon.svg) no-repeat;
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: inline-block;
}

.negative {
    color: #ff0000 !important;
}