<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Multiple Select</title>
    <link href="multiple-select.css" rel="stylesheet" />

    <style>
        button {
            margin-top: 20px;
        }
        
        .main-container {
            width: 200px;
        }
        
        .multiple-select-label span {
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
</head>



<body>
    <div id="root"></div>
    <script src="build/app.js"></script>
</body>

</html>